.App {
  text-align: center;
  display: flex;
  flex-wrap: wrap;
  font-size: 16px;
  max-width: 1200px;
  margin: auto;
}

/*components*/
button {
  background-color: #EF4581;
  font-weight: 700;
  border: none;
  font-size: 18px;
  padding: 10px 5px;
  cursor: pointer;
}

.App-header {
  background-color: #01848F;
  height: 70px;
  padding: 20px;
  color: #fff;
  width: 100%;
}

.App-body {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  background-color: #fff;
  border: 2px solid #E6E7E8;
}

.App-body.hasError {
  display: none;
}


